button {
  cursor: pointer;
  &:hover {
    text-decoration: none !important;
  }
}

.button-yellow,
.posts-navigation .nav-previous a,
.posts-navigation .nav-next a {
  @include button;
  @include callout-strong-italic-font(1.5rem, $unshackled-black);
  background-color: $unshackled-yellow;

  &.address-btn {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  &:hover,
  &:focus {
    background-color: $unshackled-black;
    color: $unshackled-yellow;
    text-decoration: none;
  }

  &.spacing-header {
    margin-bottom: 4rem;
    margin-top: 5rem;
  }

  &.margin-for-li {
    margin: 2rem 0 2rem 1.5rem;
  }
}

.search-form .search-submit,
.button-black {
  @include button;
  @include callout-strong-italic-font(1.5rem, $unshackled-yellow);
  background-color: $unshackled-black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #ffffff;
    text-decoration: none;
  }
}

.search-form .search-submit:hover {
  @include callout-strong-italic-font(1.5rem, $unshackled-yellow);
  background-color: lighten($unshackled-black, 20%);
}

.button-grey {
  @include button;
  @include callout-strong-font(1.4rem, $unshackled-black);
  padding: 1rem 1.7rem;
  background-color: #e5e5e5;
  border: 0.1rem solid #c3c3c3;
  text-decoration: none;  

  &:hover,
  &:focus {
    color: $unshackled-black;
    text-decoration: none;
  }
}

.button-white {
  @include button;
  @include callout-strong-italic-font(1.5rem, $unshackled-black);
  background: $unshackled-white;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: inherit;
    text-decoration: none;
  }
}

.button-slim {
  padding: 1rem 3rem;
}

.button-disabled,
[disabled='disabled'],
button:disabled {
  @include button;
  @include callout-strong-font(1.4rem, $unshackled-black);
  text-transform: none;
  padding: 1rem 1.7rem;
  background-color: #e5e5e5;
  border: 0.1rem solid #dddddd;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.5;
  color: lighten(#000000, 20%) !important;
  cursor: not-allowed !important;
}

.button-wide {
  padding: 1rem 5rem;
}

.button-block {
  display: block;
  text-align: center;
}

button:disabled,
a.disabled,
a.disabled:hover,
a.disabled:focus {
  background: $unshackled-grey;
  color: $unshackled-white;
  text-decoration: none;
  pointer-events: none;
  text-decoration: none;
}

.button-large {
  height: 4rem;
}

.button-underline {
  border-bottom: 0.2rem solid $unshackled-black;
  font-weight: bold;
}

.button-more {
  @include callout-strong-font(1.6rem);
  text-transform: none;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 2rem;

  .icon-down-arrow {
    font-size: 1.5rem;
  }
}

.open-close-toggle {
  @include button();
  margin: 0;
  display: block;
  background-color: darken($layout-background-grey, 3%);
  padding: 0.75rem;
  font-size: 13px;
  width: 100%;
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    background-color: $layout-background-grey;
  }
}

.button {
  @include button();
}

.button:focus,
.button:hover {
  color: $unshackled-white;
  text-decoration: none;
}


.link {
  text-decoration: underline;
  cursor: pointer;
  font-family: $callout-strong-font-family;
}

.link-alt {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

