// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

.full-search-wrap form.search-form {
	display: flex;

	label {
		flex: 1;
    margin-bottom: 0;

		.search-field {
			@include callout-strong-font(2rem, $unshackled-black, normal);
			display: block;
			border: none;
			width: 100%;
    		height: 41px;
		}
	}
}

.select-wrapper {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

select.form-control {
  font-size: 1.75rem;
  height: 4rem;
  font-family: $callout-font-family;
  background-color: darken($unshackled-white, 10%);
}

.form-control option {
  font-size: 3rem;
}