html {
    font-size: 62.5%;
}

body {
	font-family: $callout-font-family;
	font-style: normal;
    text-transform: none;
    font-size: 1.5rem;
    color: $unshackled-black;
}

h1, 
.h1 {
  @include callout-black-italic-font(3rem);
	margin-top: 2rem;
	margin-bottom: 2rem;    

	// RESPONSIVE
	@include respond-to(screen-md) {
		margin-bottom: 4rem;
		margin-top: 5rem;
	}
}

h2,
.h2 {
  @include callout-black-italic-font(3rem);
  margin: 0 0 2rem;  

  &.section-heading {
    @include callout-strong-font(1.8rem);
    text-transform: none;
    margin: 0;
    padding: 1rem;
    color: $unshackled-yellow;
    background-color: $unshackled-black;

    // RESPONSIVE
	@include respond-to(screen-md) {
		padding: 1rem 2rem;
	}
  }

  .link {
    font-size: 1.2rem;
  }
}

h3, 
.h3 {
  @include callout-strong-font(2rem, $unshackled-black, normal);
  text-transform: none;
}

h4,
.h4 {
  @include callout-font(1.8rem, $unshackled-black, normal);
}

h5, 
.h5 {
  font-family: $callout-strong-font-family;
  font-size: 1.6rem;
}

h6, 
.h6 {
  @include callout-black-italic-font(1.4rem);
}

p,
ul,
ol {
	margin-bottom: 2rem;

	li {
		margin-bottom: 1rem;
	}
}


// Styles for single post item
.single-post article {

	// links in article
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}