header.banner {
	background-color: $unshackled-black;
	color: $unshackled-white;
	padding: $padding-small;

	// RESPONSIVE
	@include respond-to(screen-md) {
		padding: $padding-medium;
	}
	@include respond-to(screen-lg) {
		padding: $padding-large
	}

	a {
		color: $unshackled-yellow;
		&:hover {
			color: darken($unshackled-yellow, 5%);
		}
	}
}

// LOGO
header.banner a.brand {
	background: url(../images/logo.png);
	background-size: cover;
	display: block;
	float: left;
	width: 180px;
    height: 50px;
    margin-top: 10px;
	position: relative;

	// RESPONSIVE
	@include respond-to(screen-md) {
		width: 280px;
		height: 79px;
	}
	@include respond-to(screen-lg) {
		width: 280px;
		height: 79px;
	}
}

// FAQ text
header.banner a.brand h3 {
	@include callout-italic-font(2rem, $unshackled-yellow, normal);
	position: absolute;
	top: -0.5rem;
	right: -7rem;

	// RESPONSIVE
	@include respond-to(screen-md) {
		top: 0;
	}
	@include respond-to(screen-lg) {
		top: 0;
	}
}

// MAIN NAV
nav.main-nav ul {

}

nav.main-nav ul > li {
	
}

nav.main-nav ul > li > a {
	@include callout-italic-font(1.5rem, $unshackled-yellow, normal);
	background-color: transparent;
	padding: 0 1.5rem 2rem;

	&:hover,
	&:active,
	&:focus {
		background-color: transparent;
	}
}

.navbar-toggle {
	border-radius: 100%;
	height: 45px;
    width: 45px;
	padding: 10px;
	background-color: lighten($unshackled-black, 15%);

	&:hover,
	&:active {
		background-color: lighten($unshackled-black, 25%);
	}
	.icon-bar {
		background-color: $unshackled-yellow;
	}
}
