header.banner {
	background-color: $unshackled-black;
	color: $unshackled-white;
	padding: 3rem 2rem 1rem;

	// RESPONSIVE
	@include respond-to(screen-md) {
		padding:  3rem 3rem 1rem;
	}
	@include respond-to(screen-lg) {
		padding: 4rem 4rem 1rem;
	}

	a {
		color: $unshackled-yellow;
		&:hover {
			color: darken($unshackled-yellow, 5%);
		}
	}
}

// LOGO
header.banner a.brand {
	background: url(../images/logo.png);
	background-size: cover;
	display: block;
	float: left;
	width: 180px;
    height: 50px;
    margin-top: 10px;
	position: relative;

	// RESPONSIVE
	@include respond-to(screen-md) {
		width: 280px;
		height: 79px;
	}
	@include respond-to(screen-lg) {
		width: 280px;
		height: 79px;
	}
}

// FAQ text
header.banner a.brand h3 {
	@include callout-italic-font(2rem, $unshackled-yellow, normal);
	position: absolute;
	top: -0.5rem;
	right: -7rem;

	// RESPONSIVE
	@include respond-to(screen-md) {
		top: 0;
	}
	@include respond-to(screen-lg) {
		top: 0;
	}
}

// MAIN NAV
nav.main-nav ul {
	margin: 0;
}

nav.main-nav ul > li {
	margin: 0;

	&:last-child a {
		border-bottom: none;
	}
}

nav.main-nav ul > li > a {
	@include callout-italic-font(1.5rem, $unshackled-yellow, normal);
	background-color: transparent;
	padding: 1.5rem;
	border-bottom: 1px solid lighten($unshackled-black, 15%);

	&:hover,
	&:active,
	&:focus {
		background-color: lighten($unshackled-black, 15%);
	}

	// RESPONSIVE
	@include respond-to(screen-sm) {
		border-bottom: none;
	}
	@include respond-to(screen-md) {
		
	}
	@include respond-to(screen-lg) {
		top: 0;
	}
}

// WHEN IN CURRENT CATEGORY
nav.main-nav ul > li.active > a,
nav.main-nav ul > li.active > a:hover,
nav.main-nav ul > li.current-post-parent > a,
nav.main-nav ul > li.current-post-parent > a:hover {
	background-color: lighten($unshackled-black, 15%);
	
	// RESPONSIVE
	@include respond-to(screen-sm) {
		@include callout-italic-font(1.5rem, $unshackled-black, normal);
		background-color: $unshackled-yellow;	
	}
	@include respond-to(screen-md) {
		
	}
	@include respond-to(screen-lg) {
		
	}
}

.navbar-toggle {
	border-radius: 100%;
	height: 45px;
    width: 45px;
	padding: 10px;
	background-color: lighten($unshackled-black, 15%);

	&:hover,
	&:active {
		background-color: lighten($unshackled-black, 25%);
	}
	.icon-bar {
		background-color: $unshackled-yellow;
	}
}


// SUB NAV - DROPDOWN STYLES
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	background-color: lighten($unshackled-black, 15%);
}

.navbar-nav>li>.dropdown-menu {
	background-color: lighten($unshackled-black, 15%);
	margin-right: -1px;
	margin-top: -2px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	color: $unshackled-yellow;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	color: $unshackled-black;
}

nav.main-nav > ul {
	position: relative;
	@include respond-to(screen-sm) {
		top: 2rem;
	}
	@include respond-to(screen-md) {
		top: 4.9rem;
	}
	@include respond-to(screen-lg) {
		top: 4.9rem;
	}
}