.full-search-wrap {
	background-color: $unshackled-yellow;

	padding: $padding-small 0;

	// RESPONSIVE
	@include respond-to(screen-md) {
		padding: $padding-medium 0;
	}
	@include respond-to(screen-lg) {
		padding: $padding-large 0;
	}
}

// Add elements which need bottom borders
.blog {

	article {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 1px solid $layout-border-grey;
	}

	article h1 {
		@include callout-strong-font(2.1rem);
		margin-bottom: 1rem;
		margin-top: 3rem;
	}
}


.porting-info {
	display: none;

	&.show {
		display: block;
	}
}